<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mike Mulderink GoLang</title>
    <meta name="description" content="GoLang">
</head>
<body>
    <h1>Name: {{.Name}}</h1>
    <h1>Message: {{.Message}}</h1>
</body>
</html>