<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{range .Breakfast}}
        <h1>{{.Name}}</h1>
    {{end}}
{{end}}

</body>
</html>