<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{{range .}}
    <h1>{{.}}</h1>
    {{range .Menu}}
        <h2>{{.}}</h2>
        {{range .Item}}
            <h3>{{.Name}}</h3>
        {{end}}
    {{end}}
{{end}}
</body>
</html>