<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <h1>{Tatsu [{Breakfast [{Oatmeal yum yum 4.95} {Cheerios American eating food traditional now 3.95} {Juice Orange Delicious drinking in throat squeezed fresh 2.95}]} {Lunch [{Hamburger Delicous good eating for you 6.95} {Cheese Melted Sandwich Make cheese bread melt grease hot 3.95} {French Fries French eat potatoe fingers 2.95}]} {Dinner [{Pasta Bolognese From Italy delicious eating 7.95} {Steak Dead cow grilled bloody 13.95} {Bistro Potatoe Bistro bar wood American bacon 6.95}]}]}</h1>
    
        <h2>{Breakfast [{Oatmeal yum yum 4.95} {Cheerios American eating food traditional now 3.95} {Juice Orange Delicious drinking in throat squeezed fresh 2.95}]}</h2>
        
            <h3>Oatmeal</h3>
        
            <h3>Cheerios</h3>
        
            <h3>Juice Orange</h3>
        
    
        <h2>{Lunch [{Hamburger Delicous good eating for you 6.95} {Cheese Melted Sandwich Make cheese bread melt grease hot 3.95} {French Fries French eat potatoe fingers 2.95}]}</h2>
        
            <h3>Hamburger</h3>
        
            <h3>Cheese Melted Sandwich</h3>
        
            <h3>French Fries</h3>
        
    
        <h2>{Dinner [{Pasta Bolognese From Italy delicious eating 7.95} {Steak Dead cow grilled bloody 13.95} {Bistro Potatoe Bistro bar wood American bacon 6.95}]}</h2>
        
            <h3>Pasta Bolognese</h3>
        
            <h3>Steak</h3>
        
            <h3>Bistro Potatoe</h3>
        
    

</body>
</html>